:host {
  display: block;
  margin: 2em;
}

button,
input[type="url"] {
  padding: 5px;
  margin-bottom: 2em;
  width: 500px;
}

button {
  margin-top: 2em;
}

#QRContainer canvas {
  width: 300px;
}
