:root {
  --gap-sm: 1em;

  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);

  --color-munsell-green: hsl(160, 100%, 33%);
  --color-munsell-green-lightest: hsl(161, 49%, 88%);
  --color-munsell-green-lighter: hsl(161, 50%, 57%);
  --color-munsell-green-darker: hsl(160, 100%, 24%);
  --color-munsell-green-darkest: hsl(160, 100%, 15%);

  --color-coral-reef: hsl(7, 80%, 65%);
  --color-coral-reef-lightest: hsl(8, 80%, 90%);
  --color-coral-reef-lighter: hsl(7, 79%, 77%);
  --color-coral-reef-darker: hsl(7, 44%, 47%);
  --color-coral-reef-darkest: hsl(7, 44%, 29%);

  --color-violet-blue: hsl(235, 44%, 46%);
  --color-violet-blue-lightest: rgb(202, 204, 230);
  --color-violet-blue-lighter: hsl(235, 37%, 65%);
  --color-violet-blue-darker: hsl(235, 44%, 29%);
  --color-violet-blue-darkest: hsl(235, 44%, 21%);

  --color-manatee: hsl(214, 4%, 63%);
  --color-manatee-lightest: hsl(0, 0%, 96%);
  --color-manatee-lighter: hsl(225, 3%, 76%);
  --color-manatee-darker: hsl(210, 2%, 40%);
  --color-manatee-darkest: hsl(220, 3%, 23%);

  --color-sunshine-yellow: hsl(45, 100%, 49%);
  --color-sunshine-yellow-lightest: hsl(44, 96%, 90%);
  --color-sunshine-yellow-lighter: hsl(44, 95%, 69%);
  --color-sunshine-yellow-darker: hsl(44, 100%, 34%);
  --color-sunshine-yellow-darkest: hsl(44, 100%, 19%);

  /* map colors to color variables */
  --color-primary: var(--color-munsell-green);
  --color-secondary: var(--color-violet-blue);
  --color-tertiary: var(--color-coral-reef);

  --color-body: var(--color-manatee-darkest);
  --color-bg-body: var(--color-manatee-lightest);

  --color-body-link: var(--color-violet-blue);
  --color-body-link-hover: var(--color-violet-blue-darkest);
  --color-body-link-active: var(--color-violet-blue-darker);
  --color-body-link-visited: var(--color-munsell-green);

  --color-border-main: var(--color-manatee);

  --color-table-text: inherit;
  --color-bg-table: transparent;
  --color-border-table: var(--color-manatee-lighter);

  --border-radius-xs: 0.4rem;
  --border-radius-default: 0.6rem;
  --border-radius-button: var(--border-radius-xs);

  --ff-default: "Open Sans", sans-serif;
  --ff-body: var(--ff-default);
  --ff-headings: var(--ff-default);
  --default-fontsize: 1.6rem;
  --default-lineheight: 1.75;

  --font-10: 1rem/1.75 var(--ff-default);
  --font-12: 1.2rem/1.3333333 var(--ff-default);
  --font-14: 1.4rem/1.4285714288 var(--ff-default);
  --font-16: 1.6rem/1.75 var(--ff-default);
  --font-20: 2rem/1.4 var(--ff-default);
  --font-24: 2.4rem/1.1666666667 var(--ff-default);
  --font-36: 3.6rem/1.1666666667 var(--ff-default);

  --fw-normal: normal;
  --fw-semibold: 500;
  --fw-bold: 700;
  --fw-extrabold: 900;

  --line-height-input-and-buttons: 1-375;
  --fw-th: var(--fw-semibold);

  --dialog-background: var(--color-manatee-lightest);
  --dialog-color: var(--color-body);
  --dialog-border-radius: var(--border-radius-default);
  --dialog-border-color: var(--color-manatee);
  --dialog-header-font: 600 1.2em/1.2 sans-serif;
  --dialog-body-font: 300 1em/1.5 sans-serif;
  --dialog-footer-font: 300 1em/1.5 sans-serif;
}

body {
  font-family: var(--ff-body);
  color: var(--color-body);
  background-color: var(--color-bg-body);
}

input[type="submit"],
a[role="button"],
button {
  background-color: var(--color-munsell-green);
  border: 1px solid transparent;
  border-radius: var(--border-radius-button);
  color: var(--color-white);
  cursor: pointer;
  display: inline-block;
  font-family: var(--ff-default);
  font-size: var(--font-size-button);
  font-weight: var(--fw-semibold);
  letter-spacing: normal;
  line-height: var(--line-height-input-and-buttons);
  padding: 0.8rem 3.2rem;
  text-decoration: none;
  text-indent: 0px;
  text-shadow: none;
  text-transform: none;
  transition:
    color 0.2s ease-in-out,
    border 0.2s ease-in-out,
    background 0.3s ease-in-out;
  word-spacing: normal;
  appearance: button;
}

input[type="submit"]:hover,
input[type="submit"]:focus,
a[role="button"]:hover,
a[role="button"]:focus,
button:hover,
button:focus {
  background-color: var(--color-munsell-green-darker);
}

input[type="submit"]:not(.primary-button),
a[role="button"]:not(.primary-button),
button:not(.primary-button) {
  background-color: var(--color-white);
  color: var(--color-munsell-green);
}

input[type="submit"]:not(.primary-button):hover,
input[type="submit"]:not(.primary-button):focus,
a[role="button"]:not(.primary-button):hover,
a[role="button"]:not(.primary-button):focus,
button:not(.primary-button):hover,
button:not(.primary-button):focus {
  background-color: var(--color-white);
  color: var(--color-munsell-green-darker);
}
